{%extends 'hostels/base.html' %}
{%block title%}
<title>
    Sign in
</title>
{%endblock%}
{%block head%}
<style>
    body{
        background-color: #f7f6fa;
    }
    .rounded-corners { 
        background-color: #e6ddff;
        border: 1px solid #ccc; 
        border-radius: 15px; padding: 20px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
</style>
{%endblock%}

{%block body%}

<div class="col-4 mx-auto rounded-corners mt-5">
    <form action="" method="post">
        {%csrf_token%}
    <h4 class="text-center">Sign In</h4>
    <div class="form-floating mb-3">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="johnwillis">
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="row mt-2">
        <div class="col-5 mx-2">
            <a href="{%url 'registration' %}" >Create New Account ?</a>
        </div>
        <div class="col-4 mx-2 ">
            <a href="">Forgot password?</a>
        </div>
    </div>
    <div class="col-3 mx-auto mt-3">
        <button type="submit" class="form-control">Sign-In</button>
    </div>
</form>
</div>
{%endblock%}